body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header-icon {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex-wrap: wrap;
  margin: 10px;
}

.button-container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.content-container {
  height: 80vh; /* Reduce the height to 80vh */
  width: 80%;
  margin: 20px auto 0; /* Add top margin of 20px, auto for left/right, and 0 for bottom */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Change to column layout */
  overflow-y: auto; /* Add vertical scrollbar */
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Add horizontal scrolling if the table is too wide */
}

.download-button-container {
  text-align: center;
  margin-top: 10px;
}

.file-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.file-button-container button {
  margin: 0 5px;
  padding: 5px 10px;
}